## Daily Grand 规律总结

- Sum mean 125 std 30 (Best between 95 ~ 155)

- Top 10 Sum **[124, 118, 146, 102, 121, 122, 133]** hit almost 15% of total count 

- Draw Top picks **[14, 43, 17, 4, 38]**

- 2022 Bonus Top picks **[2, 4, 6, 7, 1, 5, 3]**

- 3个奇数 2个偶数 或者 2个奇数 3个偶数的组合最多

- 新号码 至少2~3个号码 出现在最近6次抽奖中 (大概23个号码)

In [1]:
import sys
sys.path.append('./lib')
import numpy
import pandas as pd
from lotto import Lotto
from utils import *
import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.options.display.max_columns = None
# pd.options.display.max_rows = 10

In [3]:
lotto = Lotto('Daily Grand')

In [4]:
# df = pd.read_csv("./data/DailyGrand/DailyGrand.raw.csv", parse_dates=['Date'])

In [5]:
# print("Generate sum, bucket, divide analytics")
# df = lotto.build_sum_div_bucket(df)

# print("Generate the relations between previous draws and current draws")
# df = lotto.get_prev_draws_analytics(df)

In [6]:
df = pd.read_csv("./data/DailyGrand/DailyGrand.analytics.csv", parse_dates=['Date'])

In [7]:
# df['SumNoBonus'].plot.hist(bins=100, alpha=0.5)

In [8]:
# show_column_rank(df[df['Date']>'2022-01-01'], "GrandNum").head()

In [9]:
tests = [
    {
        "name": "TestSum",
        "des": "Test Sum",
        "assert": lotto.test_sum,
        "rule": "rank",
        "column": "SumNoBonus",
        "rank": show_column_rank(df, "SumNoBonus"),
        "weight": 1
    },
    {
        "name": "TestPrev3",
        "desc": "Test with Previous 3 Draws",
        "assert": lotto.test_count_in_prev_draws(3),
        "rule": "rank",
        "column": "Prev3",
        "rank": show_column_rank(df, "Prev3"),
        "weight": 1
    },
    {
        "name": "TestPrev6",
        "desc": "Test with Previous 6 Draws",
        "assert": lotto.test_count_in_prev_draws(6),
        "rule": "rank",
        "column": "Prev6",
        "rank": show_column_rank(df, "Prev6"),
        "weight": 1
    },
    {
        "name": "TestOnesDigit",
        "desc": "Test Ones Digit",
        "assert": lotto.test_ones_digit,
        "rule": "rank",
        "column": "OnesDigit",
        "rank": show_column_rank(df, "OnesDigit"),
        "weight": 1
    },
    {
        "name": "TestTensDigit",
        "desc": "Test Tens Digit",
        "assert": lotto.test_tens_digit,
        "rule": "rank",
        "column": "TensDigit",
        "rank": show_column_rank(df, "TensDigit"),
        "weight": 1
    },
    {
        "name": "TestBigSmall",
        "desc": "Test Big Small Nums",
        "assert": lotto.test_big_small,
        "rule": "rank",
        "column": "BigSmall",
        "rank": show_column_rank(df, "BigSmall"),
        "weight": 1
    },
    {
        "name": "TestPrime",
        "desc": "Test Prime Numbers",
        "assert": lotto.test_prime,
        "rule": "rank",
        "column": "Prime",
        "rank": show_column_rank(df, "Prime"),
        "weight": 1
    },
    {
        "name": "TestMinPrimeSum",
        "desc": "Test Sum of Min Prime Numbers",
        "assert": lotto.test_min_prime_sum,
        "rule": "rank",
        "column": "MinPrimeSum",
        "rank": show_column_rank(df, "MinPrimeSum"),
        "weight": 1
    },
    {
        "name": "TestAC",
        "desc": "Test AC Value",
        "assert": lotto.test_ac_value,
        "rule": "rank",
        "column": "AC",
        "rank": show_column_rank(df, "AC"),
        "weight": 1
    },
    {
        "name": "TestDivide2",
        "desc": "Test Divide by 2",
        "assert": lotto.test_divide(2),
        "rule": "rank",
        "column": "Divide2",
        "rank": show_column_rank(df, "Divide2"),
        "weight": 1
    },
    {
        "name": "TestDivide3",
        "desc": "Test Divide by 3",
        "assert": lotto.test_divide(3),
        "rule": "rank",
        "column": "Divide3",
        "rank": show_column_rank(df, "Divide3"),
        "weight": 1
    },
    {
        "name": "TestDivide5",
        "desc": "Test Divide by 5",
        "assert": lotto.test_divide(5),
        "rule": "rank",
        "column": "Divide5",
        "rank": show_column_rank(df, "Divide5"),
        "weight": 1
    },
]

In [10]:
# def valid_generated_nums(numList, df, tests):
#     msg = ''
#     for t in tests:
#         assertValue = t["assert"](numList, df)[0]
#         if t["rule"] == "range":
#             if assertValue in t[t["rule"]]:
#                 continue
#             else:
#                 msg = f'Failed with {t["name"]} assert value {assertValue}'
#                 return False
#         if t["rule"] == "notInList":
#             if assertValue not in t[t["rule"]]:
#                 continue
#             else:
#                 msg = f'Failed with {t["name"]} assert value {assertValue}'
#                 return False
#         if t["rule"] == "rank":
#             df_t = t[t["rule"]].head(t["max"])
#             ar_t = df_t[t["column"]].to_list()
#             if assertValue in ar_t:
#                 # msg = f'{t["name"]} test {t["assert"]} rank {ar_t.index(t["assert"])}'
#                 continue
#             else:
#                 msg = f'Failed with {t["name"]} assert value {assertValue}'
#                 return False
            
#     return True

In [11]:
# counter = 0
# for i in range(10):
#     numList = lotto.generate_lotto_nums()
#     result = valid_generated_nums(numList, df, tests)
#     if result:
#         counter+=1
#         print(counter, numList)

In [12]:
# def analyze_generated_nums(numList, df, tests):
#     l = [0] * len(tests)
#     msg = ''

#     for i, t in enumerate(tests):
#         assertValue = t["assert"](numList, df)[0]
#         if t["rule"] == "range":
#             if assertValue in t[t["rule"]]:
#                 l[i] = t["mean"] - assertValue % t["mean"]
#             else:
#                 msg = f'Failed with {t["name"]} assert value {assertValue}'
#                 return [0] * len(tests), msg
#         if t["rule"] == "notInList":
#             if assertValue not in t[t["rule"]]:
#                l[i] = 1
#             else:
#                 msg = f'Failed with {t["name"]} assert value {assertValue}'
#                 return [0] * len(tests), msg
#         if t["rule"] == "rank":
#             df_t = t[t["rule"]].head(t["max"])
#             ar_t = df_t[t["column"]].to_list()
#             if assertValue in ar_t:
#                 l[i] = t["max"] - ar_t.index(assertValue)
#                 # msg = f'{t["name"]} test {t["assert"]} rank {ar_t.index(t["assert"])}'
#                 continue
#             else:
#                 msg = f'Failed with {t["name"]} assert value {assertValue}'
#                 return [0] * len(tests), msg

#     return l, msg

# def normalized_col(df, columns):
#     for c in columns:
#         df[c] = (df[c] - df[c].min())/(df[c].max()-df[c].min())
        
#     return df

In [13]:
# data = []
# for i in range(1000):
#     numList = lotto.generate_lotto_nums()
#     result = analyze_generated_nums(numList, df, tests)[0]
#     data.append(numList + result)

# df_p = pd.DataFrame(data, columns=['Draw1','Draw2','Draw3','Draw4','Draw5','TestSum','TestPrev','TestOE', 'TestBucket'])
# df_p = normalized_col(df_p, ['TestSum','TestPrev','TestOE', 'TestBucket'])
# df_p['Score'] = df_p[['TestSum','TestPrev','TestOE', 'TestBucket']].sum(axis=1)
# df_p.sort_values('Score', ascending=False)

In [14]:
# for i in range(100):
#     backtest_lotto(lotto, df, tests,
#                    runs=100 * 5,
#                    numOfTest=1
#                   )

In [15]:
backtest_lotto(lotto, df, tests,
                   runs=300,
                   numOfTest=10
                  )

Run 300 simulation for each test
2022-12-22 [12, 20, 28, 41, 44] 7.128271697440437 1.1817136057339603
[4.046864, 4.996711, 5.946558, 6.537415, 7.719129, 8.309985, 8.978685, 9.647385]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev3,TestPrev6,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
90,12,19,20,22,41,0.500000,1.000000,0.92,0.30,0.131579,0.367876,0.666667,0.230769,1.000000,0.962162,1.000000,0.761905,7.840957,3
93,7,12,23,28,41,0.285714,1.000000,0.92,0.84,0.342105,0.989637,0.354167,0.192308,0.286885,1.000000,1.000000,0.619048,7.829864,3
249,14,20,28,42,44,0.428571,0.303502,1.00,0.74,0.157895,1.000000,0.279167,0.538462,0.360656,0.000000,0.561798,0.619048,5.989097,3

2022-12-19 [9, 26, 28, 29, 48] 7.183281714085588 1.1308441890612795
[3.556118, 4.804278, 6.052438, 6.61786, 7.748704, 8.314126, 9.317549, 10.320973]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev3,TestPrev6,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
62,5,9,18,28,48,0.357143,1.0,0.92,0.0,0.263158,0.989637,1.0,1.0,1.0,0.962162,0.550562,0.047619,8.090281,3

2022-12-15 [10, 24, 33, 43, 44] 7.10978906748131 1.0592802570859434
[3.792607, 4.921558, 6.050509, 6.580149, 7.639429, 8.169069, 9.099194, 10.029318]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev3,TestPrev6,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
57,10,16,27,33,44,0.428571,1.0,1.0,0.625000,0.473684,1.0,0.279167,0.384615,0.000000,0.962162,0.808989,1.000000,7.962189,3
86,15,24,33,38,43,0.428571,1.0,1.0,0.729167,0.394737,1.0,1.000000,0.269231,0.286885,1.000000,0.550562,0.047619,7.706772,3

2022-12-12 [2, 3, 20, 26, 28] 6.972928310197173 1.0689163339270216
[3.346879, 4.625446, 5.904012, 6.43847, 7.507386, 8.041845, 9.246068, 10.450291]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev3,TestPrev6,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
204,2,3,15,24,28,0.214286,0.417671,0.05,0.84,0.131579,0.367876,0.666667,1.0,0.360656,0.962162,0.550562,1.000000,6.561457,3
207,3,20,26,32,41,0.714286,0.281124,1.00,0.16,0.394737,1.000000,0.666667,0.5,0.360656,0.962162,0.112360,0.380952,6.532944,3

2022-12-08 [17, 32, 33, 41, 45] 7.0643702683073295 1.202619432329377
[2.898631, 4.380191, 5.861751, 6.463061, 7.66568, 8.26699, 9.217567, 10.168144]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev3,TestPrev6,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
88,14,32,33,45,47,0.571429,0.303502,1.000,0.84,0.289474,0.564767,1.0,0.115385,1.0,1.000000,0.235955,0.857143,7.777654,3
193,15,20,33,41,45,0.500000,0.303502,1.000,0.30,0.447368,1.000000,1.0,0.192308,1.0,0.491892,0.325843,0.095238,6.656151,3
251,16,32,33,38,41,0.214286,0.031128,0.365,0.64,0.131579,0.564767,1.0,0.192308,1.0,0.962162,0.561798,0.238095,5.901123,3

2022-12-05 [9, 39, 40, 41, 45] 7.089650000128237 1.0796359826217714
[3.293696, 4.651855, 6.010014, 6.549832, 7.629468, 8.169286, 9.321019, 10.472752]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev3,TestPrev6,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
276,7,9,15,39,45,0.5,0.435798,0.92,0.14,0.315789,0.989637,1.0,0.538462,0.286885,0.016216,0.089888,0.333333,5.566008,3

2022-12-01 [1, 26, 27, 38, 46] 6.958404440678035 1.0494599254812094
[3.366907, 4.637926, 5.908945, 6.433674, 7.483134, 8.007864, 8.852086, 9.696308]

Empty DataFrame
Columns: [Draw1, Draw2, Draw3, Draw4, Draw5, TestSum, TestPrev3, TestPrev6, TestOnesDigit, TestTensDigit, TestBigSmall, TestPrime, TestMinPrimeSum, TestAC, TestDivide2, TestDivide3, TestDivide5, Score, Result]
Index: []

2022-11-28 [6, 8, 10, 32, 33] 7.052118415301502 1.116794949355063
[3.704975, 4.820149, 5.935323, 6.493721, 7.610516, 8.168913, 8.915362, 9.66181]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev3,TestPrev6,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
250,6,32,33,34,36,0.357143,1.0,0.55,0.836735,0.0,0.564767,0.326848,0.423077,0.286885,0.389189,0.550562,0.666667,5.951872,3

2022-11-24 [25, 32, 42, 43, 46] 7.109126880919651 1.10454985189965
[2.988688, 4.496632, 6.004577, 6.556852, 7.661402, 8.213677, 8.840511, 9.467345]

Empty DataFrame
Columns: [Draw1, Draw2, Draw3, Draw4, Draw5, TestSum, TestPrev3, TestPrev6, TestOnesDigit, TestTensDigit, TestBigSmall, TestPrime, TestMinPrimeSum, TestAC, TestDivide2, TestDivide3, TestDivide5, Score, Result]
Index: []

2022-11-21 [5, 7, 12, 32, 49] 7.013642241754839 1.1637103910434785
[3.476868, 4.6634, 5.849932, 6.431787, 7.595497, 8.177353, 8.910968, 9.644584]

Empty DataFrame
Columns: [Draw1, Draw2, Draw3, Draw4, Draw5, TestSum, TestPrev3, TestPrev6, TestOnesDigit, TestTensDigit, TestBigSmall, TestPrime, TestMinPrimeSum, TestAC, TestDivide2, TestDivide3, TestDivide5, Score, Result]
Index: []

        Date            Draw  Hit3  Hit4  Hit5
0 2022-12-22  12 20 28 41 44     3     0     0
1 2022-12-19   9 26 28 29 48     1     0     0
2 2022-12-15  10 24 33 43 44     2     0     0
3 2022-12-12    2 3 20 26 28     2     0     0
4 2022-12-08  17 32 33 41 45     3     0     0
5 2022-12-05   9 39 40 41 45     1     0     0
6 2022-12-01   1 26 27 38 46     0     0     0
7 2022-11-28    6 8 10 32 33     1     0     0
8 2022-11-24  25 32 42 43 46     0     0     0
9 2022-11-21    5 7 12 32 49     0     0     0

In [16]:
# backtest_lotto_multiprocess(lotto, df, tests,
#                    runs=300,
#                    numOfTest=10
#                   )

In [17]:
# df.to_csv('./data/DailyGrand/DailyGrand.analytics.csv', index=False)