## Daily Grand 规律总结

- Sum mean 125 std 30 (Best between 95 ~ 155)

- Top 10 Sum **[124, 118, 146, 102, 121, 122, 133]** hit almost 15% of total count 

- Draw Top picks **[14, 43, 17, 4, 38]**

- 2022 Bonus Top picks **[2, 4, 6, 7, 1, 5, 3]**

- 3个奇数 2个偶数 或者 2个奇数 3个偶数的组合最多

- 新号码 至少2~3个号码 出现在最近6次抽奖中 (大概23个号码)

In [1]:
import sys
sys.path.append('./lib')
import numpy
import pandas as pd
from lotto import Lotto
from utils import *
import warnings
warnings.filterwarnings('ignore')

In [2]:
lotto = Lotto('Daily Grand')

In [3]:
# df = pd.read_csv("./data/DailyGrand/DailyGrand.raw.csv", parse_dates=['Date'])

In [4]:
# print("Generate sum, bucket, divide analytics")
# df = lotto.build_sum_div_bucket(df)

# print("Generate the relations between previous draws and current draws")
# df = lotto.get_prev_draws_analytics(df)

In [5]:
df = pd.read_csv("./data/DailyGrand/DailyGrand.analytics.csv", parse_dates=['Date'])

In [6]:
# df['SumNoBonus'].plot.hist(bins=100, alpha=0.5)

In [7]:
# show_column_rank(df[df['Date']>'2022-01-01'], "GrandNum").head()

In [34]:
tests = [
    {
        "name": "TestSum",
        "des": "Test Sum",
        "assert": lotto.test_sum,
        "rule": "rank",
        "column": "SumNoBonus",
        "rank": show_column_rank(df, "SumNoBonus")
    },
    {
        "name": "TestPrev",
        "desc": "Test with Previous 6 Draws",
        "assert": lotto.test_count_in_prev_draws,
        "rule": "rank",
        "column": "Prev6",
        "rank": show_column_rank(df, "Prev6")
    },
    {
        "name": "TestOnesDigit",
        "desc": "Test Ones Digit",
        "assert": lotto.test_ones_digit,
        "rule": "rank",
        "column": "OnesDigit",
        "rank": show_column_rank(df, "OnesDigit")
    },
    {
        "name": "TestTensDigit",
        "desc": "Test Tens Digit",
        "assert": lotto.test_tens_digit,
        "rule": "rank",
        "column": "TensDigit",
        "rank": show_column_rank(df, "TensDigit")
    },
    {
        "name": "TestBigSmall",
        "desc": "Test Big Small Nums",
        "assert": lotto.test_big_small,
        "rule": "rank",
        "column": "BigSmall",
        "rank": show_column_rank(df, "BigSmall")
    },
    {
        "name": "TestPrime",
        "desc": "Test Prime Numbers",
        "assert": lotto.test_prime,
        "rule": "rank",
        "column": "Prime",
        "rank": show_column_rank(df, "Prime")
    },
    {
        "name": "TestMinPrimeSum",
        "desc": "Test Sum of Min Prime Numbers",
        "assert": lotto.test_min_prime_sum,
        "rule": "rank",
        "column": "MinPrimeSum",
        "rank": show_column_rank(df, "MinPrimeSum")
    },
    {
        "name": "TestAC",
        "desc": "Test AC Value",
        "assert": lotto.test_ac_value,
        "rule": "rank",
        "column": "AC",
        "rank": show_column_rank(df, "AC")
    },
    {
        "name": "TestDivide2",
        "desc": "Test Divide by 2",
        "assert": lotto.test_divide(2),
        "rule": "rank",
        "column": "Divide2",
        "rank": show_column_rank(df, "Divide2"),
    },
    {
        "name": "TestDivide3",
        "desc": "Test Divide by 3",
        "assert": lotto.test_divide(3),
        "rule": "rank",
        "column": "Divide3",
        "rank": show_column_rank(df, "Divide3"),
    },
    {
        "name": "TestDivide5",
        "desc": "Test Divide by 5",
        "assert": lotto.test_divide(5),
        "rule": "rank",
        "column": "Divide5",
        "rank": show_column_rank(df, "Divide5"),
    },
]

In [9]:
# def valid_generated_nums(numList, df, tests):
#     msg = ''
#     for t in tests:
#         assertValue = t["assert"](numList, df)[0]
#         if t["rule"] == "range":
#             if assertValue in t[t["rule"]]:
#                 continue
#             else:
#                 msg = f'Failed with {t["name"]} assert value {assertValue}'
#                 return False
#         if t["rule"] == "notInList":
#             if assertValue not in t[t["rule"]]:
#                 continue
#             else:
#                 msg = f'Failed with {t["name"]} assert value {assertValue}'
#                 return False
#         if t["rule"] == "rank":
#             df_t = t[t["rule"]].head(t["max"])
#             ar_t = df_t[t["column"]].to_list()
#             if assertValue in ar_t:
#                 # msg = f'{t["name"]} test {t["assert"]} rank {ar_t.index(t["assert"])}'
#                 continue
#             else:
#                 msg = f'Failed with {t["name"]} assert value {assertValue}'
#                 return False
            
#     return True

In [10]:
# counter = 0
# for i in range(10):
#     numList = lotto.generate_lotto_nums()
#     result = valid_generated_nums(numList, df, tests)
#     if result:
#         counter+=1
#         print(counter, numList)

In [11]:
# def analyze_generated_nums(numList, df, tests):
#     l = [0] * len(tests)
#     msg = ''

#     for i, t in enumerate(tests):
#         assertValue = t["assert"](numList, df)[0]
#         if t["rule"] == "range":
#             if assertValue in t[t["rule"]]:
#                 l[i] = t["mean"] - assertValue % t["mean"]
#             else:
#                 msg = f'Failed with {t["name"]} assert value {assertValue}'
#                 return [0] * len(tests), msg
#         if t["rule"] == "notInList":
#             if assertValue not in t[t["rule"]]:
#                l[i] = 1
#             else:
#                 msg = f'Failed with {t["name"]} assert value {assertValue}'
#                 return [0] * len(tests), msg
#         if t["rule"] == "rank":
#             df_t = t[t["rule"]].head(t["max"])
#             ar_t = df_t[t["column"]].to_list()
#             if assertValue in ar_t:
#                 l[i] = t["max"] - ar_t.index(assertValue)
#                 # msg = f'{t["name"]} test {t["assert"]} rank {ar_t.index(t["assert"])}'
#                 continue
#             else:
#                 msg = f'Failed with {t["name"]} assert value {assertValue}'
#                 return [0] * len(tests), msg

#     return l, msg

# def normalized_col(df, columns):
#     for c in columns:
#         df[c] = (df[c] - df[c].min())/(df[c].max()-df[c].min())
        
#     return df

In [12]:
# data = []
# for i in range(1000):
#     numList = lotto.generate_lotto_nums()
#     result = analyze_generated_nums(numList, df, tests)[0]
#     data.append(numList + result)

# df_p = pd.DataFrame(data, columns=['Draw1','Draw2','Draw3','Draw4','Draw5','TestSum','TestPrev','TestOE', 'TestBucket'])
# df_p = normalized_col(df_p, ['TestSum','TestPrev','TestOE', 'TestBucket'])
# df_p['Score'] = df_p[['TestSum','TestPrev','TestOE', 'TestBucket']].sum(axis=1)
# df_p.sort_values('Score', ascending=False)

In [13]:
# for i in range(100):
#     backtest_lotto(lotto, df, tests,
#                    runs=100 * 20,
#                    numOfTest=1
#                   )

In [ ]:
backtest_lotto(lotto, df, tests,
                   runs=100 * 10,
                   numOfTest=100
                  )

Run 1000 simulation for each test
2022-12-22 [12, 20, 28, 41, 44] 6.363946211200524 0.9890409336225015
[3.241525, 4.308215, 5.374905, 5.869426, 6.858467, 7.352987, 8.20221, 9.051433]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
47,9,12,28,41,49,0.357143,1.000,0.52,0.131579,1.000000,1.000000,0.423077,1.000000,1.000000,0.808989,0.714286,7.955073,3
492,20,21,28,41,46,0.357143,0.365,0.36,0.078947,1.000000,1.000000,0.230769,1.000000,0.962162,1.000000,0.095238,6.449260,3
602,12,15,20,44,48,0.357143,1.000,0.72,0.184211,0.989637,0.279167,0.384615,1.000000,0.389189,0.325843,0.523810,6.153614,3
770,2,12,20,28,29,0.214286,0.365,0.84,0.052632,0.989637,0.666667,0.269231,0.369272,0.389189,0.561798,0.857143,5.574854,3

2022-12-19 [9, 26, 28, 29, 48] 6.380572926901618 1.0362907076413381
[3.011476, 4.177879, 5.344282, 5.862428, 6.898718, 7.416864, 8.170944, 8.925025]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
819,24,26,28,29,48,0.428571,1.00,0.14,0.000000,0.564767,1.000000,0.384615,0.360656,0.389189,0.955056,0.190476,5.413331,4
334,2,9,26,29,30,0.214286,1.00,0.64,0.000000,1.000000,0.688716,0.500000,1.000000,0.962162,0.235955,0.666667,6.907786,3
359,9,11,28,45,48,0.357143,1.00,0.36,0.131579,1.000000,1.000000,0.538462,0.360656,1.000000,0.550562,0.523810,6.822210,3
518,5,18,26,29,48,0.428571,0.55,0.18,0.342105,1.000000,0.688716,0.500000,1.000000,0.962162,0.235955,0.523810,6.411319,3
570,5,26,28,29,44,0.571429,1.00,0.40,0.131579,0.564767,0.688716,0.230769,1.000000,0.962162,0.089888,0.619048,6.258357,3
861,8,9,17,26,28,0.142857,0.00,0.02,0.131579,0.989637,1.000000,0.384615,0.360656,0.962162,0.561798,0.666667,5.219971,3

2022-12-15 [10, 24, 33, 43, 44] 6.284996823316536 1.0512077677227671
[2.679096, 3.956442, 5.233789, 5.759393, 6.810601, 7.336205, 8.280505, 9.224806]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
187,10,11,24,44,48,0.642857,0.550,0.50,0.184211,0.989637,1.000000,0.384615,1.000000,0.389189,0.955056,0.619048,7.214613,3
477,6,33,43,44,45,0.571429,0.365,0.84,0.105263,0.564767,1.000000,0.500000,0.369272,1.000000,0.550562,0.523810,6.390102,3
526,24,29,30,33,43,0.285714,0.920,0.72,0.157895,0.564767,0.666667,0.076923,1.000000,1.000000,0.550562,0.333333,6.275861,3
809,10,24,33,42,45,0.500000,0.365,0.30,0.447368,1.000000,0.279167,0.538462,0.369272,0.962162,0.089888,0.523810,5.375128,3

2022-12-12 [2, 3, 20, 26, 28] 6.422402155017042 0.988846988960962
[3.187764, 4.31066, 5.433555, 5.927979, 6.916826, 7.411249, 8.298419, 9.185589]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
119,1,3,20,26,49,0.428571,1.00,0.72,0.184211,0.989637,1.000000,0.076923,0.360656,1.000000,1.000000,0.809524,7.569522,3
230,2,17,20,26,45,0.428571,1.00,0.64,0.342105,0.989637,0.666667,0.769231,1.000000,0.962162,0.112360,0.238095,7.148828,3
423,3,8,15,20,28,0.285714,0.55,1.00,0.131579,0.367876,1.000000,1.000000,0.286885,0.962162,0.955056,0.142857,6.682130,3
704,2,20,24,28,35,0.285714,0.05,0.72,0.026316,0.989637,1.000000,1.000000,0.360656,0.389189,0.561798,0.523810,5.907120,3
989,20,26,28,32,40,0.785714,1.00,0.36,0.026316,0.564767,0.279167,0.153846,0.040984,0.000000,0.292135,0.571429,4.074357,3

2022-12-08 [17, 32, 33, 41, 45] 6.379031238284859 1.0036420055397417
[3.096684, 4.236036, 5.375389, 5.87721, 6.880852, 7.382673, 8.092022, 8.801371]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
266,13,17,28,33,45,0.500000,1.0,0.64,0.473684,1.000000,0.666667,0.269231,1.0,0.491892,0.808989,0.190476,7.040938,3
295,9,17,19,32,33,0.428571,1.0,0.46,0.078947,0.989637,0.666667,0.500000,1.0,0.491892,0.955056,0.380952,6.951723,3
999,33,37,39,41,45,0.000000,0.0,0.76,0.026316,0.000000,0.666667,0.076923,0.0,0.016216,0.550562,1.000000,3.096684,3

2022-12-05 [9, 39, 40, 41, 45] 6.398811566802623 0.9344155484669959
[3.441506, 4.452951, 5.464396, 5.931604, 6.866019, 7.333227, 8.299421, 9.265616]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
104,4,9,34,41,45,0.714286,0.55,0.74,0.105263,1.000000,1.000000,0.307692,1.000000,1.0,0.808989,0.380952,7.607182,3
597,9,31,32,40,41,0.428571,0.92,0.14,0.263158,0.564767,0.688716,0.230769,0.286885,1.0,1.000000,0.666667,6.189533,3
829,9,27,30,40,45,0.571429,0.92,0.84,0.421053,0.564767,0.326848,0.307692,0.360656,1.0,0.089888,0.095238,5.497570,3

2022-12-01 [1, 26, 27, 38, 46] 6.334706405862618 1.0584168985449922
[2.562313, 3.919301, 5.27629, 5.805498, 6.863915, 7.393123, 8.607809, 9.822496]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
431,1,26,27,30,38,0.714286,0.55,0.84,0.184211,0.564767,0.279167,0.115385,1.000000,0.962162,0.955056,0.380952,6.545985,4
63,1,17,27,38,39,0.714286,0.55,0.40,0.342105,1.000000,1.000000,0.461538,1.000000,0.491892,0.955056,1.000000,7.914878,3
282,1,27,30,31,38,0.500000,0.92,0.50,0.157895,0.564767,1.000000,0.153846,1.000000,1.000000,0.808989,0.380952,6.986449,3
695,1,35,38,46,48,0.214286,0.55,0.48,0.263158,0.564767,0.279167,0.384615,1.000000,0.962162,1.000000,0.142857,5.841012,3
720,1,25,26,27,37,0.500000,1.00,0.64,0.026316,0.564767,1.000000,0.153846,0.360656,0.491892,0.786517,0.238095,5.762089,3
998,26,34,38,46,48,0.000000,0.55,0.40,0.105263,0.000000,0.279167,0.461538,0.286885,0.000000,1.000000,0.238095,3.320949,3

2022-11-28 [6, 8, 10, 32, 33] 6.391217740599928 1.0156047119888745
[2.805838, 4.090725, 5.375613, 5.883415, 6.89902, 7.406822, 8.419258, 9.431694]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
33,5,8,21,32,33,0.428571,0.92,0.72,0.289474,0.989637,1.000000,0.538462,1.000000,1.000000,0.235955,1.000000,8.122099,3
712,8,24,28,32,33,0.428571,0.55,0.76,0.184211,1.000000,0.326848,0.500000,0.369272,0.389189,0.955056,0.380952,5.844100,3
771,6,7,8,10,36,0.071429,0.55,0.70,0.078947,0.367876,1.000000,1.000000,0.296496,0.389189,0.808989,0.380952,5.643878,3
788,6,9,10,33,40,0.357143,0.05,0.74,0.315789,0.989637,0.326848,0.384615,1.000000,0.962162,0.235955,0.238095,5.600246,3

2022-11-24 [25, 32, 42, 43, 46] 6.324692845120845 0.9916243366325832
[3.154596, 4.243832, 5.333069, 5.828881, 6.820505, 7.316317, 8.459203, 9.602089]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
84,4,25,32,42,43,0.785714,0.55,0.36,0.421053,0.564767,1.000000,0.384615,1.000000,0.962162,0.786517,0.857143,7.671971,4
23,6,25,32,43,49,0.428571,0.92,0.76,0.421053,0.564767,1.000000,0.384615,1.000000,1.000000,0.786517,1.000000,8.265523,3
337,5,25,33,42,43,0.428571,0.92,0.74,0.421053,0.564767,0.666667,0.461538,1.000000,0.491892,0.808989,0.238095,6.741572,3
910,26,28,42,43,46,0.000000,0.55,0.76,0.078947,0.000000,1.000000,0.076923,1.000000,0.389189,0.786517,0.238095,4.879672,3
936,25,28,43,46,47,0.071429,0.92,0.52,0.078947,0.000000,0.666667,0.038462,0.286885,1.000000,0.112360,1.000000,4.694749,3

2022-11-21 [5, 7, 12, 32, 49] 6.457256670089385 1.0229707596694246
[3.09059, 4.262438, 5.434286, 5.945771, 6.968742, 7.480227, 8.612277, 9.744326]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
182,5,8,12,18,49,0.214286,0.365,0.40,0.131579,0.367876,1.000000,1.000000,1.0,0.962162,0.955056,1.000000,7.395959,3
406,5,9,10,12,32,0.142857,0.920,0.74,0.105263,0.367876,1.000000,0.307692,1.0,0.962162,0.955056,0.238095,6.739002,3
873,5,7,17,22,49,0.285714,1.000,0.46,0.263158,0.367876,0.396887,0.384615,1.0,0.491892,0.303371,0.333333,5.286846,3

2022-11-17 [13, 22, 31, 37, 45] 6.365050617835496 1.017058837145418
[3.201973, 4.274982, 5.347992, 5.856521, 6.87358, 7.382109, 8.394161, 9.406212]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
57,9,13,24,31,45,0.714286,0.920,0.84,1.000000,0.989637,0.688716,0.384615,1.000000,0.491892,0.235955,0.619048,7.884149,3
65,13,16,22,23,45,0.500000,0.920,0.72,0.131579,0.367876,0.688716,0.730769,1.000000,1.000000,0.786517,1.000000,7.845457,3
551,13,18,22,28,31,0.642857,1.000,0.84,0.157895,0.989637,0.688716,0.230769,0.360656,0.962162,0.146067,0.238095,6.256855,3
581,13,23,31,38,45,0.571429,1.000,0.64,0.394737,1.000000,0.396887,0.115385,0.360656,0.491892,1.000000,0.190476,6.161461,3
698,13,16,22,31,47,0.571429,0.920,0.72,0.473684,0.989637,0.396887,0.076923,0.360656,1.000000,0.112360,0.238095,5.859671,3
863,3,5,13,31,45,0.357143,0.365,0.50,0.315789,0.989637,0.066148,0.500000,1.000000,0.016216,0.808989,0.285714,5.204637,3
990,27,31,37,43,45,0.000000,1.000,0.74,0.105263,0.000000,0.396887,0.000000,0.360656,0.016216,0.269663,0.809524,3.698209,3

2022-11-14 [2, 3, 5, 12, 27] 6.344131851550705 1.0375961683849722
[2.726243, 4.016389, 5.306536, 5.825334, 6.86293, 7.381728, 8.638758, 9.895789]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
188,2,9,12,27,43,0.357143,0.920,0.74,0.263158,0.989637,0.688716,0.615385,1.000000,1.000000,0.550562,0.190476,7.315077,3
544,2,5,14,22,27,0.071429,0.920,0.64,0.131579,0.367876,0.688716,0.538462,1.000000,0.962162,0.561798,0.333333,6.215354,3
646,2,3,20,27,29,0.142857,0.365,0.84,0.026316,0.989637,0.396887,0.115385,1.000000,1.000000,0.235955,0.857143,5.969180,3
650,1,2,5,24,27,0.214286,0.920,0.72,0.026316,0.367876,0.688716,0.000000,0.296496,1.000000,0.955056,0.761905,5.950650,3
812,3,5,12,17,42,0.142857,0.550,0.72,0.131579,0.367876,0.396887,0.692308,1.000000,1.000000,0.325843,0.142857,5.470206,3
852,2,5,12,15,26,0.142857,0.920,0.64,0.263158,0.367876,0.688716,0.500000,0.296496,0.962162,0.235955,0.238095,5.255315,3
930,3,5,7,12,33,0.142857,1.000,0.64,0.078947,0.367876,0.396887,0.538462,0.369272,0.491892,0.550562,0.238095,4.814850,3

2022-11-10 [2, 15, 20, 31, 49] 6.363421194668303 1.0280588484421704
[3.444173, 4.389768, 5.335362, 5.849392, 6.877451, 7.39148, 8.391199, 9.390918]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
14,2,14,15,44,49,1.000000,0.92,1.00,0.236842,0.989637,1.000000,0.538462,1.000000,0.962162,0.561798,0.333333,8.542234,3
38,2,15,16,48,49,0.428571,1.00,0.46,0.236842,0.989637,1.000000,1.000000,0.296496,0.962162,0.808989,1.000000,8.182698,3
68,6,15,20,31,32,0.571429,0.92,0.30,0.342105,0.989637,1.000000,0.730769,1.000000,0.962162,0.955056,0.095238,7.866397,3
129,15,20,30,48,49,0.285714,1.00,0.84,0.447368,1.000000,0.326848,1.000000,1.000000,0.962162,0.550562,0.095238,7.507893,3
164,9,11,15,20,49,0.571429,0.92,1.00,0.368421,0.367876,1.000000,0.538462,1.000000,0.491892,0.955056,0.190476,7.403611,3
169,15,17,20,31,44,0.500000,0.92,0.50,0.473684,0.989637,0.688716,0.230769,1.000000,1.000000,0.561798,0.523810,7.388414,3
185,6,8,15,20,31,0.142857,1.00,0.64,0.368421,0.367876,1.000000,0.730769,1.000000,0.962162,0.955056,0.142857,7.309999,3
201,2,15,39,45,49,0.571429,0.92,0.46,0.342105,1.000000,1.000000,0.576923,1.000000,0.491892,0.550562,0.333333,7.246244,3
247,2,12,15,31,35,0.571429,0.55,0.40,0.078947,0.989637,0.688716,0.615385,1.000000,1.000000,0.955056,0.238095,7.087265,3
353,2,7,15,31,45,0.285714,1.00,0.64,0.315789,0.989637,0.396887,0.615385,1.000000,0.491892,0.808989,0.238095,6.782389,3
909,2,31,44,46,49,0.071429,0.05,0.84,0.105263,0.564767,0.688716,0.153846,1.000000,0.962162,0.303371,0.238095,4.977649,3

2022-11-07 [3, 15, 27, 41, 47] 6.313700935371835 0.9944934248268673
[3.452985, 4.386096, 5.319208, 5.816454, 6.810948, 7.308194, 8.317328, 9.326462]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
945,3,15,21,27,41,0.500000,0.92,0.50,0.342105,0.989637,0.688716,0.000000,0.286885,0.016216,0.112360,0.380952,4.736872,4
153,3,6,15,36,47,0.500000,0.92,0.70,0.315789,0.989637,0.688716,0.730769,1.000000,1.000000,0.112360,0.380952,7.338224,3
581,10,27,41,42,47,0.214286,0.92,0.50,0.105263,0.564767,0.688716,0.192308,1.000000,1.000000,0.955056,0.000000,6.140396,3
647,15,32,41,46,47,0.071429,0.92,0.84,0.052632,0.564767,0.688716,0.000000,1.000000,1.000000,0.561798,0.238095,5.937436,3
767,13,15,35,41,47,0.571429,0.92,0.84,0.289474,1.000000,0.396887,0.038462,0.360656,0.016216,0.561798,0.571429,5.566349,3

2022-11-03 [15, 18, 28, 33, 45] 6.352063866488874 1.031819597319372
[2.726381, 4.023313, 5.320244, 5.836154, 6.867974, 7.383883, 8.38337, 9.382857]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
19,9,18,28,31,45,0.5,1.0,0.36,1.0,1.0,1.0,0.615385,1.0,1.0,0.235955,0.52381,8.235149,3

2022-10-31 [15, 33, 36, 41, 48] 6.4054433291317165 1.0134002254489975
[2.598123, 3.995083, 5.392043, 5.898743, 6.912143, 7.418844, 8.471107, 9.523371]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
173,4,27,36,41,48,0.357143,0.92,0.64,0.421053,0.564767,1.000000,0.269231,1.000000,0.962162,0.550562,0.666667,7.351584,3
250,3,15,36,48,49,0.571429,0.92,0.36,0.342105,1.000000,1.000000,1.000000,0.286885,1.000000,0.089888,0.523810,7.094116,3
324,12,15,33,36,38,0.428571,0.92,1.00,0.078947,1.000000,0.326848,0.769231,0.286885,0.962162,0.112360,1.000000,6.885005,3

2022-10-27 [7, 8, 23, 41, 45] 6.410886432192832 1.002327052074868
[2.889533, 4.149046, 5.408559, 5.909723, 6.91205, 7.413213, 8.559216, 9.705218]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
18,8,23,36,42,45,0.500000,0.365,1.00,0.421053,1.000000,1.000000,0.769231,1.000000,0.962162,0.325843,1.000000,8.343288,3
301,8,20,23,41,42,0.428571,1.000,0.30,0.210526,0.989637,0.688716,0.230769,1.000000,0.962162,0.112360,1.000000,6.922742,3
452,8,23,28,43,45,0.428571,1.000,0.70,0.210526,1.000000,0.688716,0.269231,0.286885,1.000000,1.000000,0.000000,6.583930,3
468,2,10,23,41,45,0.714286,0.920,0.10,0.131579,0.989637,0.396887,0.153846,1.000000,1.000000,0.561798,0.571429,6.539462,3
479,7,8,20,23,48,0.142857,1.000,0.64,0.184211,0.367876,0.688716,0.769231,1.000000,0.962162,0.561798,0.190476,6.507326,3
557,5,7,8,18,41,0.142857,0.920,0.52,0.157895,0.367876,0.396887,0.269231,1.000000,1.000000,0.561798,1.000000,6.336543,3
660,10,20,23,41,45,0.357143,1.000,0.06,0.157895,0.989637,0.688716,0.153846,1.000000,1.000000,0.561798,0.095238,6.064273,3
874,8,33,41,43,45,0.142857,0.920,0.64,0.105263,0.564767,0.688716,0.192308,0.360656,0.491892,0.955056,0.190476,5.251991,3

2022-10-24 [16, 23, 34, 36, 45] 6.363261244228644 1.056893998108989
[2.281866, 3.794117, 5.306367, 5.834814, 6.891708, 7.420155, 8.384799, 9.349442]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
24,3,16,23,34,35,0.285714,0.920,0.84,0.342105,0.989637,0.666667,0.730769,1.000000,1.000000,1.000000,0.523810,8.298702,3
185,8,23,31,36,45,0.642857,0.365,0.74,0.289474,1.000000,0.666667,0.500000,1.000000,1.000000,0.955056,0.142857,7.301911,3
314,2,9,16,36,45,0.357143,0.920,0.48,0.315789,0.989637,1.000000,0.307692,0.360656,0.962162,0.550562,0.666667,6.910308,3
329,9,12,16,36,45,0.785714,0.920,0.48,0.394737,0.989637,0.279167,0.307692,1.000000,0.962162,0.089888,0.666667,6.875664,3
837,16,36,38,43,45,0.142857,0.365,0.48,0.289474,0.564767,1.000000,0.269231,0.286885,0.962162,0.808989,0.142857,5.312222,3

2022-10-20 [14, 19, 20, 37, 40] 6.412308008619561 0.9882983347462713
[3.283942, 4.353976, 5.42401, 5.918159, 6.906457, 7.400606, 8.478463, 9.556319]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
137,12,14,19,29,40,0.500000,0.920,1.00,0.000000,0.989637,0.666667,0.115385,1.000000,0.962162,1.000000,0.333333,7.487184,3
781,14,17,20,25,37,0.500000,0.365,0.74,0.157895,0.989637,0.666667,0.307692,0.360656,1.000000,0.292135,0.238095,5.617777,3
967,7,14,19,21,37,0.357143,0.365,0.48,0.342105,0.367876,0.354167,0.307692,0.360656,0.491892,0.786517,0.285714,4.498762,3
984,19,37,40,42,45,0.000000,0.365,0.74,0.052632,0.564767,0.666667,0.076923,0.286885,1.000000,0.269663,0.238095,4.260632,3

2022-10-17 [18, 31, 34, 36, 42] 6.347779136144812 1.0373764958965237
[3.258541, 4.284472, 5.310403, 5.829091, 6.866467, 7.385156, 8.31198, 9.238804]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
782,18,26,31,36,42,0.428571,0.92,0.74,0.394737,0.564767,1.0,0.000000,0.360656,0.389189,0.550562,0.190476,5.538958,4
129,1,18,20,31,42,0.642857,0.92,0.16,1.000000,0.989637,1.0,0.307692,0.360656,0.962162,0.808989,0.380952,7.532946,3
419,4,7,34,36,42,0.642857,0.92,0.74,0.105263,1.000000,1.0,0.230769,1.000000,0.389189,0.269663,0.285714,6.583456,3
832,24,27,31,34,42,0.642857,0.05,0.74,0.157895,0.564767,1.0,0.384615,0.286885,0.962162,0.235955,0.285714,5.310851,3
909,31,34,42,44,45,0.000000,0.55,0.36,0.131579,0.000000,1.0,0.192308,0.286885,0.962162,0.808989,0.666667,4.958589,3

2022-10-13 [5, 11, 20, 22, 37] 6.3454754751795255 1.0794314503909759
[2.350375, 3.808209, 5.266044, 5.80576, 6.885191, 7.424907, 8.647201, 9.869495]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
62,5,11,22,35,42,0.500000,1.000,0.40,1.000000,0.989637,0.666667,0.538462,1.000000,1.000000,0.561798,0.238095,7.894659,3
540,11,20,37,38,46,0.500000,1.000,0.84,0.394737,1.000000,0.666667,0.000000,0.296496,0.962162,0.292135,0.380952,6.333149,3
625,11,12,20,22,38,0.500000,0.365,0.14,0.157895,0.367876,1.000000,0.769231,1.000000,0.389189,0.561798,0.809524,6.060512,3
915,11,20,31,37,41,0.571429,0.920,0.04,0.394737,1.000000,0.000000,0.038462,1.000000,0.491892,0.292135,0.095238,4.843892,3
970,5,13,14,20,22,0.285714,0.365,0.30,0.105263,0.005181,0.666667,0.346154,0.296496,0.962162,0.292135,0.523810,4.148582,3

2022-10-10 [5, 11, 15, 21, 43] 6.401542560809703 1.0547249109420214
[1.947532, 3.647175, 5.346818, 5.87418, 6.928905, 7.456267, 8.319033, 9.181798]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
121,5,11,12,38,43,0.285714,1.00,0.72,0.394737,0.989637,0.396887,0.269231,1.000000,1.000000,0.561798,1.000000,7.618004,3
188,5,21,36,40,43,0.571429,0.92,0.40,0.421053,1.000000,0.688716,0.384615,1.000000,1.000000,0.808989,0.142857,7.337658,3
512,5,13,21,37,43,0.500000,0.92,0.72,1.000000,0.989637,0.066148,0.115385,0.286885,0.016216,0.786517,1.000000,6.400788,3
561,5,11,21,24,32,0.357143,0.92,0.14,0.342105,0.367876,0.688716,0.538462,1.000000,1.000000,0.235955,0.666667,6.256923,3
569,5,15,21,35,47,0.642857,0.55,0.74,1.000000,0.989637,0.688716,0.192308,1.000000,0.016216,0.235955,0.190476,6.246166,3
700,2,5,15,21,26,0.142857,0.92,0.72,0.131579,0.367876,0.688716,0.576923,1.000000,1.000000,0.235955,0.095238,5.879144,3
850,5,10,15,20,43,0.357143,0.92,0.14,0.368421,0.367876,0.688716,0.423077,0.040984,1.000000,1.000000,0.000000,5.306216,3
912,1,11,21,37,43,0.500000,0.55,0.14,1.000000,0.989637,0.396887,0.038462,0.360656,0.016216,0.786517,0.190476,4.968851,3
953,5,6,11,15,20,0.142857,1.00,0.50,0.263158,0.005181,0.688716,0.384615,0.286885,1.000000,0.235955,0.095238,4.602606,3
966,5,15,17,21,25,0.000000,0.92,0.74,0.105263,0.367876,0.688716,0.076923,0.286885,0.016216,0.955056,0.190476,4.347412,3

2022-10-06 [14, 19, 30, 38, 48] 6.3605504683478795 1.0463047364843157
[2.913942, 4.114094, 5.314246, 5.837398, 6.883703, 7.406855, 8.15409, 8.901324]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
762,19,26,28,38,48,0.285714,1.00,0.02,0.447368,0.564767,1.000000,0.230769,0.360656,0.389189,1.00000,0.333333,5.631797,3
917,12,18,30,38,48,0.785714,0.92,0.64,0.263158,1.000000,0.326848,0.230769,0.360656,0.000000,0.11236,0.190476,4.829981,3

2022-10-03 [17, 20, 23, 28, 45] 6.36730180629021 1.0350475201965033
[3.040764, 4.186509, 5.332254, 5.849778, 6.884826, 7.402349, 8.314657, 9.226965]

,Draw1,Draw2,Draw3,Draw4,Draw5,TestSum,TestPrev,TestOnesDigit,TestTensDigit,TestBigSmall,TestPrime,TestMinPrimeSum,TestAC,TestDivide2,TestDivide3,TestDivide5,Score,Result
327,6,7,17,23,45,0.357143,1.00,0.48,0.263158,0.367876,0.396887,0.730769,1.000000,0.491892,0.955056,0.809524,6.852305,3
344,17,20,28,30,43,0.357143,0.55,0.74,0.447368,1.000000,0.688716,0.461538,0.360656,0.962162,1.000000,0.238095,6.805679,3
361,17,23,24,27,45,0.500000,0.92,0.64,0.157895,0.989637,0.688716,0.192308,1.000000,0.491892,0.325843,0.857143,6.763433,3
369,17,22,23,28,30,0.642857,0.92,0.64,0.078947,0.989637,0.688716,0.307692,0.286885,0.962162,1.000000,0.238095,6.754993,3
475,8,14,20,28,45,0.500000,1.00,0.76,0.342105,0.989637,0.326848,1.000000,0.360656,0.389189,0.561798,0.238095,6.468329,3
672,20,21,23,44,45,0.428571,1.00,0.14,0.078947,0.989637,1.000000,0.538462,0.286885,1.000000,0.235955,0.238095,5.936553,3
888,11,14,20,23,28,0.214286,1.00,0.36,0.000000,0.367876,0.688716,0.615385,0.286885,0.962162,0.089888,0.523810,5.109007,3

In [15]:
# df.to_csv('./data/DailyGrand/DailyGrand.analytics.csv', index=False)